# Introduction to numpy and Pandas

In [1]:
import functions

In [2]:
functions.square(5)

25

In [3]:
#Numpy & pandas they are external libaries that needed to be installed

In [53]:
import numpy as np # Numeriacal python used for dealing with numbers
from numpy import random # importing random function

In [54]:
arr = [1,2,3,4,5,6,7,8,9] # 1 dimensional array

In [55]:
type(arr)

list

In [56]:
npa = np.array(arr)

In [57]:
type(npa)

numpy.ndarray

In [58]:
npa.ndim # types of dimension

1

In [59]:
x = np.array([[1,2],[5,6]]) # 2 dimensional array
type(x)

numpy.ndarray

In [60]:
x.ndim  # types of dimension

2

In [61]:
x

array([[1, 2],
       [5, 6]])

In [62]:
x.shape #shape of array by column and row

(2, 2)

In [63]:
y = np.array([[2,3,4],[5,6,7]])

In [64]:
type(y)

numpy.ndarray

In [65]:
y.ndim

2

In [66]:
y.shape

(2, 3)

In [67]:
y

array([[2, 3, 4],
       [5, 6, 7]])

In [68]:
# to get the first array from 'y'
y[0]

array([2, 3, 4])

In [69]:
y[1]

array([5, 6, 7])

In [70]:
# to get 3 from the numpy array
y[0][1]

3

In [71]:
y[0][2]

4

In [72]:
y[1][0]

5

In [73]:
y[1][1]

6

In [74]:
y[1][2]

7

In [75]:
npa

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [76]:
npa[0]

1

In [77]:
npa[3]

4

In [78]:
#how to reshape an array
npa.reshape(3,3)   #.shape #ndim

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [81]:
random.randint((2,3))

array([1, 2])

In [82]:
random.random((10,6))

array([[0.33348403, 0.81459729, 0.39184255, 0.25899301, 0.03184875,
        0.80074175],
       [0.43294855, 0.52918612, 0.29382234, 0.44636829, 0.31809905,
        0.73705578],
       [0.71822255, 0.79840413, 0.46075557, 0.65476902, 0.65986942,
        0.46074568],
       [0.92940628, 0.76745697, 0.43273712, 0.91786365, 0.70494089,
        0.69209946],
       [0.8098904 , 0.05263408, 0.2716502 , 0.9049664 , 0.59612432,
        0.50957065],
       [0.48913821, 0.60423737, 0.37896888, 0.32549498, 0.93974888,
        0.64991462],
       [0.44791795, 0.66641795, 0.01787122, 0.24489638, 0.92325085,
        0.67050636],
       [0.53426122, 0.51475836, 0.93842614, 0.60651728, 0.54839792,
        0.91718331],
       [0.43946377, 0.74256119, 0.5716192 , 0.15252198, 0.08609696,
        0.90350104],
       [0.64422587, 0.89056845, 0.39981624, 0.23555069, 0.40308083,
        0.25977332]])

In [84]:
np.linspace(5,7)

array([5.        , 5.04081633, 5.08163265, 5.12244898, 5.16326531,
       5.20408163, 5.24489796, 5.28571429, 5.32653061, 5.36734694,
       5.40816327, 5.44897959, 5.48979592, 5.53061224, 5.57142857,
       5.6122449 , 5.65306122, 5.69387755, 5.73469388, 5.7755102 ,
       5.81632653, 5.85714286, 5.89795918, 5.93877551, 5.97959184,
       6.02040816, 6.06122449, 6.10204082, 6.14285714, 6.18367347,
       6.2244898 , 6.26530612, 6.30612245, 6.34693878, 6.3877551 ,
       6.42857143, 6.46938776, 6.51020408, 6.55102041, 6.59183673,
       6.63265306, 6.67346939, 6.71428571, 6.75510204, 6.79591837,
       6.83673469, 6.87755102, 6.91836735, 6.95918367, 7.        ])

In [85]:
len(np.linspace(5,7))

50

In [87]:
np.linspace(5,7, num=20, retstep=2) #num:(int) Number of samples to genrate. Default is 50 & non-negative
# retstep; if True, return (samples, step is the spacing between samples.

(array([5.        , 5.10526316, 5.21052632, 5.31578947, 5.42105263,
        5.52631579, 5.63157895, 5.73684211, 5.84210526, 5.94736842,
        6.05263158, 6.15789474, 6.26315789, 6.36842105, 6.47368421,
        6.57894737, 6.68421053, 6.78947368, 6.89473684, 7.        ]),
 0.10526315789473684)

# introduction to pandas

In [229]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [107]:
# Series ( create a py series from list, dict, tuple )

In [108]:
#list method
l1 =[1,2,3,4,5,6,]
#convert to py series
ps1=pd.Series(l1, index=['one','two','three','four','five','six'])

In [109]:
ps1

one      1
two      2
three    3
four     4
five     5
six      6
dtype: int64

In [110]:
# dictionay
d1 = {
    'Nigeria': 1000,
    'India': 2000,
    'Brazil': 4000
}
ps2 = pd.Series(d1)

In [111]:
ps2

Nigeria    1000
India      2000
Brazil     4000
dtype: int64

In [112]:
ps2['India']

2000

In [105]:
ps2[0]

1000

In [129]:
t= np.linspace(2,6, num=20)#.reshape(5,4) #generate an array

In [130]:
t

array([2.        , 2.21052632, 2.42105263, 2.63157895, 2.84210526,
       3.05263158, 3.26315789, 3.47368421, 3.68421053, 3.89473684,
       4.10526316, 4.31578947, 4.52631579, 4.73684211, 4.94736842,
       5.15789474, 5.36842105, 5.57894737, 5.78947368, 6.        ])

In [131]:
t.ndim

1

In [132]:
pd.DataFrame(t)

           0
0   2.000000
1   2.210526
2   2.421053
3   2.631579
4   2.842105
5   3.052632
6   3.263158
7   3.473684
8   3.684211
9   3.894737
10  4.105263
11  4.315789
12  4.526316
13  4.736842
14  4.947368
15  5.157895
16  5.368421
17  5.578947
18  5.789474
19  6.000000

In [133]:
t

array([2.        , 2.21052632, 2.42105263, 2.63157895, 2.84210526,
       3.05263158, 3.26315789, 3.47368421, 3.68421053, 3.89473684,
       4.10526316, 4.31578947, 4.52631579, 4.73684211, 4.94736842,
       5.15789474, 5.36842105, 5.57894737, 5.78947368, 6.        ])

In [135]:
x_series = pd.Series(t)

In [137]:
x_series.mean()

3.999999999999999

In [138]:
# rounding up to 2 decimal places

In [139]:
round(x_series.mean(), 2)

4.0

In [140]:
# finding mode
x_series.mode()

0     2.000000
1     2.210526
2     2.421053
3     2.631579
4     2.842105
5     3.052632
6     3.263158
7     3.473684
8     3.684211
9     3.894737
10    4.105263
11    4.315789
12    4.526316
13    4.736842
14    4.947368
15    5.157895
16    5.368421
17    5.578947
18    5.789474
19    6.000000
dtype: float64

In [141]:
x_series.median()

3.9999999999999996

In [142]:
x_series.sum()

80.0

In [145]:
x_series.value_counts()

2.000000    1
2.210526    1
5.789474    1
5.578947    1
5.368421    1
5.157895    1
4.947368    1
4.736842    1
4.526316    1
4.315789    1
4.105263    1
3.894737    1
3.684211    1
3.473684    1
3.263158    1
3.052632    1
2.842105    1
2.631579    1
2.421053    1
6.000000    1
dtype: int64

In [147]:
# dataframes using a list or dict
pd.DataFrame(d1, index=['population'])

            Nigeria  India  Brazil
population     1000   2000    4000

In [149]:
i= np.linspace(2,6, num=20).reshape(5,4)

In [150]:
i

array([[2.        , 2.21052632, 2.42105263, 2.63157895],
       [2.84210526, 3.05263158, 3.26315789, 3.47368421],
       [3.68421053, 3.89473684, 4.10526316, 4.31578947],
       [4.52631579, 4.73684211, 4.94736842, 5.15789474],
       [5.36842105, 5.57894737, 5.78947368, 6.        ]])

In [151]:
i.ndim

2

In [153]:
#creating dataframe
pd.DataFrame(i)

          0         1         2         3
0  2.000000  2.210526  2.421053  2.631579
1  2.842105  3.052632  3.263158  3.473684
2  3.684211  3.894737  4.105263  4.315789
3  4.526316  4.736842  4.947368  5.157895
4  5.368421  5.578947  5.789474  6.000000

In [155]:
# reading data in CSV comma sperated value
df = pd.read_csv('dataset/titanic_data.csv')

In [156]:
# check ur heading of ur data set
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [158]:
df.tail(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [159]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [162]:
#source for data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [163]:
#description of data set
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [166]:
# indicing into the column to clean data
df.duplicated().count()

891

In [167]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [168]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [170]:
# data wrangling
df['Age'].isna().sum()

177

In [171]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [172]:
print(df['Age'].to_string()) # searches the vlaue of the header [Age] in the table

0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
5        NaN
6      54.00
7       2.00
8      27.00
9      14.00
10      4.00
11     58.00
12     20.00
13     39.00
14     14.00
15     55.00
16      2.00
17       NaN
18     31.00
19       NaN
20     35.00
21     34.00
22     15.00
23     28.00
24      8.00
25     38.00
26       NaN
27     19.00
28       NaN
29       NaN
30     40.00
31       NaN
32       NaN
33     66.00
34     28.00
35     42.00
36       NaN
37     21.00
38     18.00
39     14.00
40     40.00
41     27.00
42       NaN
43      3.00
44     19.00
45       NaN
46       NaN
47       NaN
48       NaN
49     18.00
50      7.00
51     21.00
52     49.00
53     29.00
54     65.00
55       NaN
56     21.00
57     28.50
58      5.00
59     11.00
60     22.00
61     38.00
62     45.00
63      4.00
64       NaN
65       NaN
66     29.00
67     19.00
68     17.00
69     26.00
70     32.00
71     16.00
72     21.00
73     26.00
74     32.00
75     25.00
76       NaN
77       NaN
78      0.83
79     30.00
80     22.00
81     29.00
82       NaN
83     28.00
84     17.00
85     33.00
86     16.00
87       NaN
88     23.00
89     24.00
90     29.00
91     20.00
92     46.00
93     26.00
94     59.00
95       NaN
96     71.00
97     23.00
98     34.00
99     34.00
100    28.00
101      NaN
102    21.00
103    33.00
104    37.00
105    28.00
106    21.00
107      NaN
108    38.00
109      NaN
110    47.00
111    14.50
112    22.00
113    20.00
114    17.00
115    21.00
116    70.50
117    29.00
118    24.00
119     2.00
120    21.00
121      NaN
122    32.50
123    32.50
124    54.00
125    12.00
126      NaN
127    24.00
128      NaN
129    45.00
130    33.00
131    20.00
132    47.00
133    29.00
134    25.00
135    23.00
136    19.00
137    37.00
138    16.00
139    24.00
140      NaN
141    22.00
142    24.00
143    19.00
144    18.00
145    19.00
146    27.00
147     9.00
148    36.50
149    42.00
150    51.00
151    22.00
152    55.50
153    40.50
154      NaN
155    51.00
156    16.00
157    30.00
158      NaN
159      NaN
160    44.00
161    40.00
162    26.00
163    17.00
164     1.00
165     9.00
166      NaN
167    45.00
168      NaN
169    28.00
170    61.00
171     4.00
172     1.00
173    21.00
174    56.00
175    18.00
176      NaN
177    50.00
178    30.00
179    36.00
180      NaN
181      NaN
182     9.00
183     1.00
184     4.00
185      NaN
186      NaN
187    45.00
188    40.00
189    36.00
190    32.00
191    19.00
192    19.00
193     3.00
194    44.00
195    58.00
196      NaN
197    42.00
198      NaN
199    24.00
200    28.00
201      NaN
202    34.00
203    45.50
204    18.00
205     2.00
206    32.00
207    26.00
208    16.00
209    40.00
210    24.00
211    35.00
212    22.00
213    30.00
214      NaN
215    31.00
216    27.00
217    42.00
218    32.00
219    30.00
220    16.00
221    27.00
222    51.00
223      NaN
224    38.00
225    22.00
226    19.00
227    20.50
228    18.00
229      NaN
230    35.00
231    29.00
232    59.00
233     5.00
234    24.00
235      NaN
236    44.00
237     8.00
238    19.00
239    33.00
240      NaN
241      NaN
242    29.00
243    22.00
244    30.00
245    44.00
246    25.00
247    24.00
248    37.00
249    54.00
250      NaN
251    29.00
252    62.00
253    30.00
254    41.00
255    29.00
256      NaN
257    30.00
258    35.00
259    50.00
260      NaN
261     3.00
262    52.00
263    40.00
264      NaN
265    36.00
266    16.00
267    25.00
268    58.00
269    35.00
270      NaN
271    25.00
272    41.00
273    37.00
274      NaN
275    63.00
276    45.00
277      NaN
278     7.00
279    35.00
280    65.00
281    28.00
282    16.00
283    19.00
284      NaN
285    33.00
286    30.00
287    22.00
288    42.00
289    22.00
290    26.00
291    19.00
292    36.00
293    24.00
294    24.00
295      NaN
296    23.50
297     2.00
298      NaN
299    50.00
300      NaN
301      NaN
302    19.00
303      NaN
304      NaN
305     0.92
306      NaN
307    17.00
308    30.00
309    30.00
310    24.00
311    18.00
312    26.00
313    28.00
314    43.00
315    26.00
316    24.00
317    54.00
318    31.00
319    40.00
320    22.00
321    27.00
322    30.00
323    22.00
324      NaN
325    36.00
326    61.00
327    36.00
328    31.00
329    16.00
330      NaN
331    45.50
332    38.00
333    16.00
334      NaN
335      NaN
336    29.00
337    41.00
338    45.00
339    45.00
340     2.00
341    24.00
342    28.00
343    25.00
344    36.00
345    24.00
346    40.00
347      NaN
348     3.00
349    42.00
350    23.00
351      NaN
352    15.00
353    25.00
354      NaN
355    28.00
356    22.00
357    38.00
358      NaN
359      NaN
360    40.00
361    29.00
362    45.00
363    35.00
364      NaN
365    30.00
366    60.00
367      NaN
368      NaN
369    24.00
370    25.00
371    18.00
372    19.00
373    22.00
374     3.00
375      NaN
376    22.00
377    27.00
378    20.00
379    19.00
380    42.00
381     1.00
382    32.00
383    35.00
384      NaN
385    18.00
386     1.00
387    36.00
388      NaN
389    17.00
390    36.00
391    21.00
392    28.00
393    23.00
394    24.00
395    22.00
396    31.00
397    46.00
398    23.00
399    28.00
400    39.00
401    26.00
402    21.00
403    28.00
404    20.00
405    34.00
406    51.00
407     3.00
408    21.00
409      NaN
410      NaN
411      NaN
412    33.00
413      NaN
414    44.00
415      NaN
416    34.00
417    18.00
418    30.00
419    10.00
420      NaN
421    21.00
422    29.00
423    28.00
424    18.00
425      NaN
426    28.00
427    19.00
428      NaN
429    32.00
430    28.00
431      NaN
432    42.00
433    17.00
434    50.00
435    14.00
436    21.00
437    24.00
438    64.00
439    31.00
440    45.00
441    20.00
442    25.00
443    28.00
444      NaN
445     4.00
446    13.00
447    34.00
448     5.00
449    52.00
450    36.00
451      NaN
452    30.00
453    49.00
454      NaN
455    29.00
456    65.00
457      NaN
458    50.00
459      NaN
460    48.00
461    34.00
462    47.00
463    48.00
464      NaN
465    38.00
466      NaN
467    56.00
468      NaN
469     0.75
470      NaN
471    38.00
472    33.00
473    23.00
474    22.00
475      NaN
476    34.00
477    29.00
478    22.00
479     2.00
480     9.00
481      NaN
482    50.00
483    63.00
484    25.00
485      NaN
486    35.00
487    58.00
488    30.00
489     9.00
490      NaN
491    21.00
492    55.00
493    71.00
494    21.00
495      NaN
496    54.00
497      NaN
498    25.00
499    24.00
500    17.00
501    21.00
502      NaN
503    37.00
504    16.00
505    18.00
506    33.00
507      NaN
508    28.00
509    26.00
510    29.00
511      NaN
512    36.00
513    54.00
514    24.00
515    47.00
516    34.00
517      NaN
518    36.00
519    32.00
520    30.00
521    22.00
522      NaN
523    44.00
524      NaN
525    40.50
526    50.00
527      NaN
528    39.00
529    23.00
530     2.00
531      NaN
532    17.00
533      NaN
534    30.00
535     7.00
536    45.00
537    30.00
538      NaN
539    22.00
540    36.00
541     9.00
542    11.00
543    32.00
544    50.00
545    64.00
546    19.00
547      NaN
548    33.00
549     8.00
550    17.00
551    27.00
552      NaN
553    22.00
554    22.00
555    62.00
556    48.00
557      NaN
558    39.00
559    36.00
560      NaN
561    40.00
562    28.00
563      NaN
564      NaN
565    24.00
566    19.00
567    29.00
568      NaN
569    32.00
570    62.00
571    53.00
572    36.00
573      NaN
574    16.00
575    19.00
576    34.00
577    39.00
578      NaN
579    32.00
580    25.00
581    39.00
582    54.00
583    36.00
584      NaN
585    18.00
586    47.00
587    60.00
588    22.00
589      NaN
590    35.00
591    52.00
592    47.00
593      NaN
594    37.00
595    36.00
596      NaN
597    49.00
598      NaN
599    49.00
600    24.00
601      NaN
602      NaN
603    44.00
604    35.00
605    36.00
606    30.00
607    27.00
608    22.00
609    40.00
610    39.00
611      NaN
612      NaN
613      NaN
614    35.00
615    24.00
616    34.00
617    26.00
618     4.00
619    26.00
620    27.00
621    42.00
622    20.00
623    21.00
624    21.00
625    61.00
626    57.00
627    21.00
628    26.00
629      NaN
630    80.00
631    51.00
632    32.00
633      NaN
634     9.00
635    28.00
636    32.00
637    31.00
638    41.00
639      NaN
640    20.00
641    24.00
642     2.00
643      NaN
644     0.75
645    48.00
646    19.00
647    56.00
648      NaN
649    23.00
650      NaN
651    18.00
652    21.00
653      NaN
654    18.00
655    24.00
656      NaN
657    32.00
658    23.00
659    58.00
660    50.00
661    40.00
662    47.00
663    36.00
664    20.00
665    32.00
666    25.00
667      NaN
668    43.00
669      NaN
670    40.00
671    31.00
672    70.00
673    31.00
674      NaN
675    18.00
676    24.50
677    18.00
678    43.00
679    36.00
680      NaN
681    27.00
682    20.00
683    14.00
684    60.00
685    25.00
686    14.00
687    19.00
688    18.00
689    15.00
690    31.00
691     4.00
692      NaN
693    25.00
694    60.00
695    52.00
696    44.00
697      NaN
698    49.00
699    42.00
700    18.00
701    35.00
702    18.00
703    25.00
704    26.00
705    39.00
706    45.00
707    42.00
708    22.00
709      NaN
710    24.00
711      NaN
712    48.00
713    29.00
714    52.00
715    19.00
716    38.00
717    27.00
718      NaN
719    33.00
720     6.00
721    17.00
722    34.00
723    50.00
724    27.00
725    20.00
726    30.00
727      NaN
728    25.00
729    25.00
730    29.00
731    11.00
732      NaN
733    23.00
734    23.00
735    28.50
736    48.00
737    35.00
738      NaN
739      NaN
740      NaN
741    36.00
742    21.00
743    24.00
744    31.00
745    70.00
746    16.00
747    30.00
748    19.00
749    31.00
750     4.00
751     6.00
752    33.00
753    23.00
754    48.00
755     0.67
756    28.00
757    18.00
758    34.00
759    33.00
760      NaN
761    41.00
762    20.00
763    36.00
764    16.00
765    51.00
766      NaN
767    30.50
768      NaN
769    32.00
770    24.00
771    48.00
772    57.00
773      NaN
774    54.00
775    18.00
776      NaN
777     5.00
778      NaN
779    43.00
780    13.00
781    17.00
782    29.00
783      NaN
784    25.00
785    25.00
786    18.00
787     8.00
788     1.00
789    46.00
790      NaN
791    16.00
792      NaN
793      NaN
794    25.00
795    39.00
796    49.00
797    31.00
798    30.00
799    30.00
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
805    31.00
806    39.00
807    18.00
808    39.00
809    33.00
810    26.00
811    39.00
812    35.00
813     6.00
814    30.50
815      NaN
816    23.00
817    31.00
818    43.00
819    10.00
820    52.00
821    27.00
822    38.00
823    27.00
824     2.00
825      NaN
826      NaN
827     1.00
828      NaN
829    62.00
830    15.00
831     0.83
832      NaN
833    23.00
834    18.00
835    39.00
836    21.00
837      NaN
838    32.00
839      NaN
840    20.00
841    16.00
842    30.00
843    34.50
844    17.00
845    42.00
846      NaN
847    35.00
848    28.00
849      NaN
850     4.00
851    74.00
852     9.00
853    16.00
854    44.00
855    18.00
856    45.00
857    51.00
858    24.00
859      NaN
860    41.00
861    21.00
862    48.00
863      NaN
864    24.00
865    42.00
866    27.00
867    31.00
868      NaN
869     4.00
870    26.00
871    47.00
872    33.00
873    47.00
874    28.00
875    15.00
876    20.00
877    19.00
878      NaN
879    56.00
880    25.00
881    33.00
882    22.00
883    28.00
884    25.00
885    39.00
886    27.00
887    19.00
888      NaN
889    26.00
890    32.00

In [174]:
# delete or drop emptu value
print(df['Cabin'].to_string())

0                  NaN
1                  C85
2                  NaN
3                 C123
4                  NaN
5                  NaN
6                  E46
7                  NaN
8                  NaN
9                  NaN
10                  G6
11                C103
12                 NaN
13                 NaN
14                 NaN
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 D56
22                 NaN
23                  A6
24                 NaN
25                 NaN
26                 NaN
27         C23 C25 C27
28                 NaN
29                 NaN
30                 NaN
31                 B78
32                 NaN
33                 NaN
34                 NaN
35                 NaN
36                 NaN
37                 NaN
38                 NaN
39                 NaN
40                 NaN
41                 NaN
42                 NaN
43                 NaN
44                 NaN
45                 NaN
46                 NaN
47                 NaN
48                 NaN
49                 NaN
50                 NaN
51                 NaN
52                 D33
53                 NaN
54                 B30
55                 C52
56                 NaN
57                 NaN
58                 NaN
59                 NaN
60                 NaN
61                 B28
62                 C83
63                 NaN
64                 NaN
65                 NaN
66                 F33
67                 NaN
68                 NaN
69                 NaN
70                 NaN
71                 NaN
72                 NaN
73                 NaN
74                 NaN
75               F G73
76                 NaN
77                 NaN
78                 NaN
79                 NaN
80                 NaN
81                 NaN
82                 NaN
83                 NaN
84                 NaN
85                 NaN
86                 NaN
87                 NaN
88         C23 C25 C27
89                 NaN
90                 NaN
91                 NaN
92                 E31
93                 NaN
94                 NaN
95                 NaN
96                  A5
97             D10 D12
98                 NaN
99                 NaN
100                NaN
101                NaN
102                D26
103                NaN
104                NaN
105                NaN
106                NaN
107                NaN
108                NaN
109                NaN
110               C110
111                NaN
112                NaN
113                NaN
114                NaN
115                NaN
116                NaN
117                NaN
118            B58 B60
119                NaN
120                NaN
121                NaN
122                NaN
123               E101
124                D26
125                NaN
126                NaN
127                NaN
128              F E69
129                NaN
130                NaN
131                NaN
132                NaN
133                NaN
134                NaN
135                NaN
136                D47
137               C123
138                NaN
139                B86
140                NaN
141                NaN
142                NaN
143                NaN
144                NaN
145                NaN
146                NaN
147                NaN
148                 F2
149                NaN
150                NaN
151                 C2
152                NaN
153                NaN
154                NaN
155                NaN
156                NaN
157                NaN
158                NaN
159                NaN
160                NaN
161                NaN
162                NaN
163                NaN
164                NaN
165                NaN
166                E33
167                NaN
168                NaN
169                NaN
170                B19
171                NaN
172                NaN
173                NaN
174                 A7
175                NaN
176                NaN
177                C49
178                NaN
179                NaN
180                NaN
181                NaN
182                NaN
183                 F4
184                NaN
185                A32
186                NaN
187                NaN
188                NaN
189                NaN
190                NaN
191                NaN
192                NaN
193                 F2
194                 B4
195                B80
196                NaN
197                NaN
198                NaN
199                NaN
200                NaN
201                NaN
202                NaN
203                NaN
204                NaN
205                 G6
206                NaN
207                NaN
208                NaN
209                A31
210                NaN
211                NaN
212                NaN
213                NaN
214                NaN
215                D36
216                NaN
217                NaN
218                D15
219                NaN
220                NaN
221                NaN
222                NaN
223                NaN
224                C93
225                NaN
226                NaN
227                NaN
228                NaN
229                NaN
230                C83
231                NaN
232                NaN
233                NaN
234                NaN
235                NaN
236                NaN
237                NaN
238                NaN
239                NaN
240                NaN
241                NaN
242                NaN
243                NaN
244                NaN
245                C78
246                NaN
247                NaN
248                D35
249                NaN
250                NaN
251                 G6
252                C87
253                NaN
254                NaN
255                NaN
256                NaN
257                B77
258                NaN
259                NaN
260                NaN
261                NaN
262                E67
263                B94
264                NaN
265                NaN
266                NaN
267                NaN
268               C125
269                C99
270                NaN
271                NaN
272                NaN
273               C118
274                NaN
275                 D7
276                NaN
277                NaN
278                NaN
279                NaN
280                NaN
281                NaN
282                NaN
283                NaN
284                A19
285                NaN
286                NaN
287                NaN
288                NaN
289                NaN
290                NaN
291                B49
292                  D
293                NaN
294                NaN
295                NaN
296                NaN
297            C22 C26
298               C106
299            B58 B60
300                NaN
301                NaN
302                NaN
303               E101
304                NaN
305            C22 C26
306                NaN
307                C65
308                NaN
309                E36
310                C54
311    B57 B59 B63 B66
312                NaN
313                NaN
314                NaN
315                NaN
316                NaN
317                NaN
318                 C7
319                E34
320                NaN
321                NaN
322                NaN
323                NaN
324                NaN
325                C32
326                NaN
327                  D
328                NaN
329                B18
330                NaN
331               C124
332                C91
333                NaN
334                NaN
335                NaN
336                 C2
337                E40
338                NaN
339                  T
340                 F2
341        C23 C25 C27
342                NaN
343                NaN
344                NaN
345                F33
346                NaN
347                NaN
348                NaN
349                NaN
350                NaN
351               C128
352                NaN
353                NaN
354                NaN
355                NaN
356                E33
357                NaN
358                NaN
359                NaN
360                NaN
361                NaN
362                NaN
363                NaN
364                NaN
365                NaN
366                D37
367                NaN
368                NaN
369                B35
370                E50
371                NaN
372                NaN
373                NaN
374                NaN
375                NaN
376                NaN
377                C82
378                NaN
379                NaN
380                NaN
381                NaN
382                NaN
383                NaN
384                NaN
385                NaN
386                NaN
387                NaN
388                NaN
389                NaN
390            B96 B98
391                NaN
392                NaN
393                D36
394                 G6
395                NaN
396                NaN
397                NaN
398                NaN
399                NaN
400                NaN
401                NaN
402                NaN
403                NaN
404                NaN
405                NaN
406                NaN
407                NaN
408                NaN
409                NaN
410                NaN
411                NaN
412                C78
413                NaN
414                NaN
415                NaN
416                NaN
417                NaN
418                NaN
419                NaN
420                NaN
421                NaN
422                NaN
423                NaN
424                NaN
425                NaN
426                NaN
427                NaN
428                NaN
429                E10
430                C52
431                NaN
432                NaN
433                NaN
434                E44
435            B96 B98
436                NaN
437                NaN
438        C23 C25 C27
439                NaN
440                NaN
441                NaN
442                NaN
443                NaN
444                NaN
445                A34
446                NaN
447                NaN
448                NaN
449               C104
450                NaN
451                NaN
452               C111
453                C92
454                NaN
455                NaN
456                E38
457                D21
458                NaN
459                NaN
460                E12
461                NaN
462                E63
463                NaN
464                NaN
465                NaN
466                NaN
467                NaN
468                NaN
469                NaN
470                NaN
471                NaN
472                NaN
473                  D
474                NaN
475                A14
476                NaN
477                NaN
478                NaN
479                NaN
480                NaN
481                NaN
482                NaN
483                NaN
484                B49
485                NaN
486                C93
487                B37
488                NaN
489                NaN
490                NaN
491                NaN
492                C30
493                NaN
494                NaN
495                NaN
496                D20
497                NaN
498            C22 C26
499                NaN
500                NaN
501                NaN
502                NaN
503                NaN
504                B79
505                C65
506                NaN
507                NaN
508                NaN
509                NaN
510                NaN
511                NaN
512                E25
513                NaN
514                NaN
515                D46
516                F33
517                NaN
518                NaN
519                NaN
520                B73
521                NaN
522                NaN
523                B18
524                NaN
525                NaN
526                NaN
527                C95
528                NaN
529                NaN
530                NaN
531                NaN
532                NaN
533                NaN
534                NaN
535                NaN
536                B38
537                NaN
538                NaN
539                B39
540                B22
541                NaN
542                NaN
543                NaN
544                C86
545                NaN
546                NaN
547                NaN
548                NaN
549                NaN
550                C70
551                NaN
552                NaN
553                NaN
554                NaN
555                NaN
556                A16
557                NaN
558                E67
559                NaN
560                NaN
561                NaN
562                NaN
563                NaN
564                NaN
565                NaN
566                NaN
567                NaN
568                NaN
569                NaN
570                NaN
571               C101
572                E25
573                NaN
574                NaN
575                NaN
576                NaN
577                E44
578                NaN
579                NaN
580                NaN
581                C68
582                NaN
583                A10
584                NaN
585                E68
586                NaN
587                B41
588                NaN
589                NaN
590                NaN
591                D20
592                NaN
593                NaN
594                NaN
595                NaN
596                NaN
597                NaN
598                NaN
599                A20
600                NaN
601                NaN
602                NaN
603                NaN
604                NaN
605                NaN
606                NaN
607                NaN
608                NaN
609               C125
610                NaN
611                NaN
612                NaN
613                NaN
614                NaN
615                NaN
616                NaN
617                NaN
618                 F4
619                NaN
620                NaN
621                D19
622                NaN
623                NaN
624                NaN
625                D50
626                NaN
627                 D9
628                NaN
629                NaN
630                A23
631                NaN
632                B50
633                NaN
634                NaN
635                NaN
636                NaN
637                NaN
638                NaN
639                NaN
640                NaN
641                B35
642                NaN
643                NaN
644                NaN
645                D33
646                NaN
647                A26
648                NaN
649                NaN
650                NaN
651                NaN
652                NaN
653                NaN
654                NaN
655                NaN
656                NaN
657                NaN
658                NaN
659                D48
660                NaN
661                NaN
662                E58
663                NaN
664                NaN
665                NaN
666                NaN
667                NaN
668                NaN
669               C126
670                NaN
671                B71
672                NaN
673                NaN
674                NaN
675                NaN
676                NaN
677                NaN
678                NaN
679        B51 B53 B55
680                NaN
681                D49
682                NaN
683                NaN
684                NaN
685                NaN
686                NaN
687                NaN
688                NaN
689                 B5
690                B20
691                NaN
692                NaN
693                NaN
694                NaN
695                NaN
696                NaN
697                NaN
698                C68
699              F G63
700            C62 C64
701                E24
702                NaN
703                NaN
704                NaN
705                NaN
706                NaN
707                E24
708                NaN
709                NaN
710                C90
711               C124
712               C126
713                NaN
714                NaN
715              F G73
716                C45
717               E101
718                NaN
719                NaN
720                NaN
721                NaN
722                NaN
723                NaN
724                 E8
725                NaN
726                NaN
727                NaN
728                NaN
729                NaN
730                 B5
731                NaN
732                NaN
733                NaN
734                NaN
735                NaN
736                NaN
737               B101
738                NaN
739                NaN
740                D45
741                C46
742    B57 B59 B63 B66
743                NaN
744                NaN
745                B22
746                NaN
747                NaN
748                D30
749                NaN
750                NaN
751               E121
752                NaN
753                NaN
754                NaN
755                NaN
756                NaN
757                NaN
758                NaN
759                B77
760                NaN
761                NaN
762                NaN
763            B96 B98
764                NaN
765                D11
766                NaN
767                NaN
768                NaN
769                NaN
770                NaN
771                NaN
772                E77
773                NaN
774                NaN
775                NaN
776                F38
777                NaN
778                NaN
779                 B3
780                NaN
781                B20
782                 D6
783                NaN
784                NaN
785                NaN
786                NaN
787                NaN
788                NaN
789            B82 B84
790                NaN
791                NaN
792                NaN
793                NaN
794                NaN
795                NaN
796                D17
797                NaN
798                NaN
799                NaN
800                NaN
801                NaN
802            B96 B98
803                NaN
804                NaN
805                NaN
806                A36
807                NaN
808                NaN
809                 E8
810                NaN
811                NaN
812                NaN
813                NaN
814                NaN
815               B102
816                NaN
817                NaN
818                NaN
819                NaN
820                B69
821                NaN
822                NaN
823               E121
824                NaN
825                NaN
826                NaN
827                NaN
828                NaN
829                B28
830                NaN
831                NaN
832                NaN
833                NaN
834                NaN
835                E49
836                NaN
837                NaN
838                NaN
839                C47
840                NaN
841                NaN
842                NaN
843                NaN
844                NaN
845                NaN
846                NaN
847                NaN
848                NaN
849                C92
850                NaN
851                NaN
852                NaN
853                D28
854                NaN
855                NaN
856                NaN
857                E17
858                NaN
859                NaN
860                NaN
861                NaN
862                D17
863                NaN
864                NaN
865                NaN
866                NaN
867                A24
868                NaN

In [176]:
df['Embarked'].value_counts() # to get the unique value

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [189]:
df['Embarked']

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [190]:
df['Embarked'].isna().sum()

0

In [191]:
# filling 2 values that are empty
df['Embarked'].fillna('s', inplace=True) #to fill it

In [192]:
df['Embarked'].isna().sum()

0

In [193]:
df['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [195]:
#how to fill the age that is missing esp the empty cell
df['Age'].median()

28.0

In [196]:
age_median = df['Age'].median()

In [197]:
age_median

28.0

In [198]:
df['Age'].fillna(age_median)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [199]:
df['Age'].isna().sum() #shows 177 empty cells

177

In [200]:
df['Age'].fillna(age_median, inplace=True)

In [201]:
df['Age'].isna().sum()

0

In [202]:
# to check for the remaining empty cells in all the data set
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [203]:
df['Cabin']

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [210]:
clean_data = df.drop('Cabin', axis = 1) # to delete the entire dataset that belongs to cabin column, 1= across the row, 0= across the column

In [211]:
#curent state of the data
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [213]:
df.drop('Cabin', axis = 1, inplace=True) # method 2 to delete Cabin column

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [218]:
df['Survived'].dtype

dtype('int64')

In [219]:
df['Name'].dtype # data type is object

dtype('O')

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [221]:
# how to filters stuff in pandas

In [222]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [224]:
df.groupby(['Age', 'Sex']).count()

,,PassengerId,Survived,Pclass,Name,SibSp,Parch,Ticket,Fare,Embarked
Age,Sex,,,,,,,,,
0.42,male,1,1,1,1,1,1,1,1,1
0.67,male,1,1,1,1,1,1,1,1,1
0.75,female,2,2,2,2,2,2,2,2,2
0.83,male,2,2,2,2,2,2,2,2,2
0.92,male,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
70.00,male,2,2,2,2,2,2,2,2,2
70.50,male,1,1,1,1,1,1,1,1,1
71.00,male,2,2,2,2,2,2,2,2,2
74.00,male,1,1,1,1,1,1,1,1,1
80.00,male,1,1,1,1,1,1,1,1,1

In [225]:
df[['Age', 'Survived', 'Sex']] # group by specific columns

      Age  Survived     Sex
0    22.0         0    male
1    38.0         1  female
2    26.0         1  female
3    35.0         1  female
4    35.0         0    male
..    ...       ...     ...
886  27.0         0    male
887  19.0         1  female
888  28.0         0  female
889  26.0         1    male
890  32.0         0    male

[891 rows x 3 columns]

In [226]:
df[['Age', 'Survived', 'Sex']].groupby(['Age', 'Sex']).count()

              Survived
Age   Sex
0.42  male           1
0.67  male           1
0.75  female         2
0.83  male           2
0.92  male           1
...                ...
70.00 male           2
70.50 male           1
71.00 male           2
74.00 male           1
80.00 male           1

[145 rows x 1 columns]

In [228]:
df[['Age', 'Survived', 'Sex']].groupby(['Survived']).count()

          Age  Sex
Survived
0         549  549
1         342  342