# introduction to python programming

In [1]:
print('victor')

victor

In [2]:
age = 32
type(age)

int

In [3]:
name = 'victor'
type(name)

str

In [4]:
score = [1,2,3,4,5,6]
type(score)

list

In [5]:
index = (1,2,3,4,5,6)
type(index)

tuple

In [6]:
set = {3,4,5,6,7}
type(set)

set

In [9]:
dic = {
    'name':'victor',
    'age': 32,
    'job':'data analyst'
    }
type(dic)

dict

# type casting

In [11]:
num = 10
type(num)

int

In [12]:
x = float(num)
type(x)

float

In [13]:
y = 55
type(y)

int

In [14]:
z = str(y)
type(z)

str

In [15]:
l1 = [1,2,3,4]
type(l1)

list

In [16]:
l2 = tuple(l1)
type(l2)

tuple

In [17]:
t1 = ('bag', 'shoe', 'dress')
type(t1)

tuple

In [18]:
t2 = list(t1)
type(t2)

list

# string data type

In [24]:
string = 'i am going to the market to buy mac-book'
type(string)

str

In [25]:
#slicing: accessing differnt value in a string
print(string)

i am going to the market to buy mac-book

In [29]:
print(string[0:10:2])

ia on

In [30]:
giv = 'john'
type(giv)

str

In [33]:
caps = giv.upper()

In [34]:
caps.lower()

'john'

In [35]:
string.replace('market', 'mall')

'i am going to the mall to buy mac-book'

# boolen

In [36]:
b1 = True

In [37]:
b2 = False

In [38]:
print(True)

True

In [39]:
print (True and True)

True

In [40]:
print (True and False)

False

In [43]:
print((False or True) or (True))

True

# list

In [44]:
l1 = [[1,2],[3,4]] # also called array, its a 1 dimensional array

In [45]:
l1[0:2]

[[1, 2], [3, 4]]

In [46]:
 li = [1,2,3,4]

In [47]:
st=[3,4,5,6]

In [48]:
li+st # concantenate

[1, 2, 3, 4, 3, 4, 5, 6]

In [49]:
li.append(5) #add a number to the last position of the list

In [50]:
li

[1, 2, 3, 4, 5]

In [51]:
li.insert(0,'victor')

In [52]:
li

['victor', 1, 2, 3, 4, 5]

In [53]:
li.pop() # takes the last element in the list and keeps tempreary until its needed

5

In [54]:
li

['victor', 1, 2, 3, 4]

In [56]:
li.remove('victor')

In [57]:
li

[1, 2, 3, 4]

# looping through a list

In [58]:
for x in li:
    print(x)

1
2
3
4

In [59]:
 tuple = (6,7,8,9,5,4)

In [60]:
for i in tuple:
    print(i)

6
7
8
9
5
4

In [61]:
set = (3,5,6,7)#A set does not maintain the same index number, you cant cahnge value but add & remove from the set

In [62]:
#DICTIONARIES, it has a key and value pair

In [63]:
object = {
    'eyes':2,
    'head': 1,
    'mouth': 1,
}

In [64]:
print(object)

{'eyes': 2, 'head': 1, 'mouth': 1}

In [65]:
print(object['eyes'])

2

In [66]:
print(object['head'])

1

In [69]:
for a in object.keys():
    print(a)

eyes
head
mouth

In [70]:
for b in object.values():
    print(b)

2
1
1

In [71]:
for a,b in object.items():
    print(a,b)

eyes 2
head 1
mouth 1

# if, ifelse, else statement

In [72]:
# allows you to make desicions

In [83]:
fruit = 'apple'
print(f'The name of the fruit is {fruit}')

The name of the fruit is apple

In [84]:
print('The name of the fruit is {}'.format(fruit))

The name of the fruit is apple

In [86]:
name = 'faith'
color = 'red'
print(f'{name}\'s favourite color is {color}')

faith's favourite color is red

In [101]:
brand = 'victor'
sub_brand = 'trinity'
name_array = ['sam','esther']

In [102]:
'sam' in name_array

True

In [103]:
response = input('what is your name?')

if response == brand:
    print(f'You are welcome {brand} you are the founder of betaverse analystics')
elif response in name_array:
    print(f'{response} you are a committe')
elif response == 'faith':
    print(f'{response} you are a member of betaverse analystics')
elif response == 'judy':
    print('{} you are a member of betaverse analystics'.format(response))
else: # used tp print a scerencio where nothing is given or default state
    print('Sorry {}, you are not the founder'.format(response))

what is your name?sam
sam you are a committe

# loops

In [104]:
# loops through a block of code, remember DRY stands for DONT Repear YOURSELF so you use loop and functions

In [105]:
#FOR LOOP

In [ ]:
for x in range(1,5):
    print(x)

In [ ]:
# while loop

In [1]:
x = 1
while (x <= 10):
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = 1
while (a<=10):
    print(a)
    if a == 5:
        break
    a = a + 1

# functions/modules

In [ ]:
# function define a block of code and resue it later

In [7]:
def addNumbers(c, d):  #return safe the value inside the FUNC then reuse
    
    return(c+d)

In [8]:
addNumbers(5,6) + 10

21

In [1]:
def subNumbers(e, f):  #return safe the value inside the FUNC then reuse
    
    return(e-f)

subNumbers(10,6) + 30

34

In [10]:
# lambda write a straight line of function
z= lambda x,y: x + y
print (z(5,6))

11

In [11]:
e = lambda a: a**2

print(e(100))

10000

In [3]:
def nameFunction(name):
    print(name)

In [5]:
 nameFunction('victor')

victor

# python Modules and Library

In [6]:
#python module is an extension of a python code, it contains a lot of functions, 3kinds of module: (1) instance of a module
(2)#inbuilt module (3)

2

In [7]:
import math

In [9]:
math.sqrt(25)

5.0

In [10]:
from math import sqrt

In [11]:
sqrt(25)

5.0

In [12]:
import math as m

In [13]:
m.floor(5.7)

5

In [14]:
m.ceil(5.7)

6

In [ ]:
#libray is robust rhat are created by pple

In [15]:
#object programming lamguage: creating classes, a class is a blue print for creating an object

In [23]:
class car:
    def __init__(self, model, color, year): #Attribute of a car
        self.model = model
        self.color = color
        self.year = year
    #Adding functions
    def moving(self):
        print(f'the {self.model} is moving')

In [24]:
carA = car('Benz', 'Black', '2021')

In [25]:
type(carA) #instance of the car object

__main__.car

In [26]:
carA.model

'Benz'

In [27]:
carA.color

'Black'

In [28]:
carA.year

'2021'

In [30]:
carA.moving()

the Benz is moving